/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
       url('/assets/fonts/noto-sans-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto-sans-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url('/assets/fonts/noto-sans-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto-sans-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
       url('/assets/fonts/noto-sans-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto-sans-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-700italic - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
       url('/assets/fonts/noto-sans-v9-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto-sans-v9-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'),
       url('/assets/fonts/noto-serif-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto-serif-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-700 - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
       url('/assets/fonts/noto-serif-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto-serif-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-italic - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
       url('/assets/fonts/noto-serif-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto-serif-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-700italic - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'),
       url('/assets/fonts/noto-serif-v8-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/noto-serif-v8-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-mono-regular - latin */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono Regular'), local('FiraMono-Regular'),
       url('/assets/fonts/fira-mono-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/fira-mono-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


:root {
	--burnt-sienna: #E76F51;
	--charcoal: #264653;
	--isabelline: #F7F6F2;
	--orange-crayola: #E9C46A;
	--persian-green: #2A9D8F;
	--sandy-brown: #F4A261;
	--skobeloff: #287271;
}

::selection {
	background-color: var(--charcoal);
	color: var(--isabelline);
}

* {
	box-sizing: border-box;
	font-family: "Noto Sans", sans-serif;
}

body {
	background-color: var(--isabelline);
	font-size: 1.25rem;
	line-height: 2.1rem;
	padding-bottom: 2em;
	padding: 0 10vw;
}

code {
	background-color: #ddd;
	border-radius: 5px;
	border: 1px solid #aaa;
	font-family: "Fira Mono", "Hack", monospace;
	padding: 3px;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--charcoal);
	font-family: "Noto Serif", serif;
}

a { color: var(--persian-green); }

p a, li a {
	background: linear-gradient(to bottom, var(--charcoal) 0%, var(--charcoal) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
	color: var(--persian-green);
	padding: 2px 3px;
	text-decoration: none;
	transition: background-size .2s, color 0.2s;
}

p a:hover, li a:hover {
	background-size: 4px 50px;
	color: var(--isabelline);
}

header, footer { display: block }

#masthead {
	margin-bottom: 1.5em;
}
#masthead img {
	display: block;
	margin: 0 auto 1em auto;
}
#masthead h1 {
	font-size: 2.5rem;
	line-height: 3rem;
	text-align: center;
}
#masthead nav {
	background-color: var(--charcoal);
	border-radius: 5px;
	display: grid;
	grid-row-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	margin-bottom: 2em;
}
#masthead nav a {
	color: var(--isabelline);
	display: inline-block;
	font-size: 1.5rem;
	line-height: 3rem;
	min-height: 3rem;
	text-align: center;
	vertical-align: middle;
}
#masthead nav a:hover {
	background-color: var(--skobeloff);
}
#masthead nav a:first-child {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
#masthead nav a:last-child {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

blockquote footer {
	margin-top: 0.5em;
}

.h-feed > li a {
    text-decoration: italic;
}
